@model List<GetByContentIdGenreListWithNameDto>

@if (Model == null || !Model.Any())
{
    <p>Tür bulunamadı.</p>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var genre in Model)
            {
                <tr>
                    <td>@genre.GenreName</td>
                </tr>
            }
        </tbody>
    </table>
}
